@page
@model SevStudentsApp.Pages.Students.UpdateModel
@{
}



<h2>Update Student</h2>
@if (!Model.errorMessage.Equals(""))
{
    <h2><strong>@Model.errorMessage</strong></h2>
}

<form method="POST">

     <div class="row mb-3">
        <div>
            <input type="hidden" class="form-control"
                   name="id" id="id" placeholder=" Enter ide" value="@Model.studentDTO.Id" />
        </div>
    </div>






    <div class="row mb-3">
        <label for="firstname" class="col-md-1 col-form-label">Firstname</label>
        <div>
            <input type="text" class="form-control"
                   name="firstname" id="firstname" placeholder="Enter Firstname" value="@Model.studentDTO.Firstname" />
        </div>
    </div>

    <div class="row mb-3">
        <label for="lastname" class="col-md-1 col-form-label">Lastname</label>
        <div>
            <input type="text" class="form-control"
                   name="lastname" id="lastname" placeholder="Enter Lastname" value="@Model.studentDTO.Lastname" />
        </div>
    </div>

    <div class="row mb-3">
        <div class="offset-md-1 col-md-3 d-grid">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>

        <div class="offset-md-1 col-md-3 d-grid">
            <a href="/" role="button" class="btn btn-primary">Cancel</a>
        </div>
    </div>


</form>